$primary_color: #3A4454;
$secondary_color: #53687E;
$accent_color: #6B4E71;
$background_color: #C2B2B4;
$selection_color: #F5DDDD;
$check: #3ead0f;
$edit: #ff7d0b;
$remove: #e6443f;
$white: #FFF;
$tag_important: #ffa532;
$tag_urgent: #a522d4;
$tag_private: #2a5dc9;

* {
  padding: 0%;
  margin: 0%;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  background: $background_color;

  input[type="checkbox"] {
    position: absolute;
    height: 0%;
    width: 0%;
    opacity: 0%;
    z-index: -1;
  }
}

header {
  display: block;
  min-height: 60px;
  max-height: 130px;

  section.main-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: $primary_color;
    padding: 10px 15px;

    img {
      width: 60px;
      height: auto;
    }

    h2 {
      color: $white;
      padding: 5px 10px;
      font-family: 'Kalam', cursive;
      font-size: 28px;
    }
  }

  section.sub-title {
    display: grid;
    align-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background: $secondary_color;
    padding: 5px 10px;

    h3 {
      display: inline-block;
      min-width: 175px;
      max-width: 50%;
      color: $white;
      padding: 5px 10px;
      font-family: Arial, Helvetica, sans-serif;
      grid-row: 1/3;
      grid-column: 1/2;
    }

    .date_n_time {
      display: inline-block;
      color: $white;
      font-size: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      grid-row: 1/3;
      grid-column: 2/3;

      p {
        padding: 2px 0px;
        text-align: right;
      }
    }
  }
}

main {
  padding: 10px 15px;
  min-height: 680px;
  height: 100%;
  overflow-y: scroll;

  section.tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 480px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 1px 2px;

    h4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px 8px;
      background: $accent_color;
      font-family: 'Lato', sans-serif;
      border: none;
      border-radius: 5px;
      color: $background_color;
      margin: 5px 0px 3px 0px;

      *:nth-child(2) {
        opacity: 50%;
        font-size: 14px;
      }

      i {
        transition: 280ms ease-out;

        &:hover {
          cursor: pointer;
        }
      }

      i.active {
        transition: 280ms ease-in;
        animation: 1.2s ease 0s 1 running ninty_deg_rotate;
        transform: rotate(180deg);
      }
    }

    .tasks_undone,
    .tasks_done,
    .tasks_removed,
    .tasks_missed {
      position: relative;
      transition: 350ms ease-out;
      opacity: 0%;
      height: 0%;
      z-index: -1;

      .task {
        position: absolute;
        opacity: 0;
        background: $selection_color;
        border: none;
        border-radius: 5px;
        padding: 15px;
        margin: 2px 2px 0px 2px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .tasks_undone.expand,
    .tasks_done.expand,
    .tasks_removed.expand,
    .tasks_missed.expand {
      transition: 350ms ease-in;
      animation: 1.2s ease 0s 1 running tab_expand;
      opacity: 100%;
      height: auto;
      z-index: 1;

      .task {
        display: grid;
        grid-template-rows: minmax(28px, 1fr) 1fr minmax(24px, 28px) minmax(1fr, 18px);
        grid-template-columns: 20% 20% 20% 20% 5% 5% 5% 5%;
        position: relative;
        animation: 0.8s ease 0.1s 1 running tab_expand;
        opacity: 100%;
        width: 460px;

        h5 {
          grid-column: 1/5;
          grid-row: 1/2;
          font-size: 14px;

          i.imp {
            color: $tag_important;
          }

          i.urg {
            color: $tag_urgent;
          }

          i.pvt {
            color: $tag_private;
          }

          i.false {
            color: #656464;
          }
        }

        .task_details {
          grid-column: 1/5;
          grid-row: 2/3;
          font-size: 14px;
          text-indent: 20px;
          opacity: 90%;
          height: max-content;
          line-height: 12px;
        }

        .task_scheduled_for {
          grid-column: 1/4;
          grid-row: 3/4;
          font-size: 14px;
          font-family: 'Teko', sans-serif;
          text-indent: 20px;
          height: max-content;
        }

        .tags {
          grid-column: 1/4;
          grid-row: 4/5;
          font-size: 14px;
        }

        .actions {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column: 6/9;
          grid-row: 1/4;
          font-size: 12px;

          .select {
            grid-row: 2/3;
            grid-column: 1/2;
            font-size: 20px;

            abbr {

              i.fa-square,
              i.fa-square-check {
                position: relative;
                z-index: -1;
                height: 0%;
                width: 0%;
                opacity: 0%;
                transition: 180ms ease-out;
              }

              i.fa-square.active {
                z-index: 1;
                opacity: 100%;
                transition: 180ms ease-in;

                &:hover {
                  transition: 180ms ease-in-out;
                  color: $check;
                }
              }

              &:hover {
                cursor: pointer;

                i.fa-square-check {
                  z-index: 1;
                  opacity: 100%;
                  transition: 180ms ease-in;
                  color: $check;
                }
              }
            }
          }

          .edit,
          .remove {
            height: 22px;
            width: 22px;
            background: none;
            border: none;
            border-radius: 50%;
            transition: 180ms ease-out;

            &:hover {
              cursor: pointer;
              transition: 180ms ease-in;
              color: $white;
            }
          }

          .edit {
            grid-column: 3/4;
            grid-row: 1/2;
            height: 30px;
            width: 30px;
            margin-left: -2px;

            &:hover {
              background: $edit;
            }
          }

          .remove {
            grid-column: 3/4;
            grid-row: 3/4;

            &:hover {
              background: $remove;
            }
          }
        }
      }
    }

    .tasks_done.expand,
    .tasks_removed.expand,
    .tasks_missed.expand {

      .task {
        display: grid;
        grid-template-rows: 24px !important;

        h5 {
          grid-column: 1/5;
          grid-row: 1/2;
          font-size: 14px;
          opacity: 60%;
        }

        .task_details,
        .task_scheduled_for,
        .tags {
          display: none;
        }

        .actions {
          grid-column: 6/9;
          grid-row: 1/2;
        }
      }
    }

    .tasks_missed.expand {

      .task {

        .actions {
          
          .select, .remove {
            display: none;
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 5px 0px;
  background-color: $secondary_color;
  transition: 200ms ease-out;
  z-index: 4;
  margin-top: 40px;

  section.search {}

  section.task_edit_preview {
    position: absolute;
    z-index: -1;
  }

  section.task_edit_preview.active {
    z-index: 6;
    bottom: -50%;
    height: auto;
    width: 100%;
    background: $selection_color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: drop-shadow(0 -6mm 4mm $accent_color);

    div.error_pop_up {
      transition: 300ms ease-out;
    }
      
    div.error_pop_up.active {
      height: auto;
      width: 100%;
      transition: 300ms ease-in;

      p.error {
        width: 100%;
        text-align: center;
        padding: 10px 5px 0px 5px;
        color: $remove;
        font-weight: 600;
        transition: 100ms ease-in;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 15px;

      div.for_title,
      div.for_details,
      div.for_schedule,
      div.task_tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0px;
        width: 100%;

        label {
          font-family: 'Lato', sans-serif;
          font-style: oblique;
          width: max-content !important;
        }

        input[type="text"],
        textarea {
          font-size: 18px;
          height: 30px;
          width: 80%;
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          text-align: center;
        }
      }

      div.for_details {

        textarea {
          height: 100px;
          width: 73%;
        }
      }

      div.for_schedule {

        div#task_schedule {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          #task_schedule_date {
            width: 70px;
            text-align: center;
            margin-right: 10px;
          }

          #task_schedule_time {
            width: 90px;
            text-align: center;
          }
        }
      }

      div.task_tags {

        p {
          font-style: oblique;
        }

        div.tag_list {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: 50%;

          label {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            text-decoration: none;
            padding: 5px;
            border: none;
            border-radius: 3px;
            opacity: 60%;

            i {
              transform: rotate(90deg);
            }

            &:hover {
              cursor: pointer;
            }
          }

          label.active {
            opacity: 100%;
          }

          label:first-child {

            span {

              i {
                color: $tag_important;
              }
            }
          }

          label:nth-child(2) {

            span {

              i {
                color: $tag_urgent;
              }
            }
          }

          label:last-child {

            span {

              i {
                color: $tag_private;
              }
            }
          }
        }
      }

      div.actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        button {
          padding: 8px;
          border-radius: 60px;
          border: none;
          margin: 10px;
          color: $white;

          &:hover {
            cursor: pointer;
          }
        }

        button[type="submit"] {
          padding: 15px;
          background: $secondary_color;
          font-size: 24px;
        }

        button[type="reset"] {
          height: 60px;
          width: 60px;
          background: rgba($color: $accent_color, $alpha: 0.5);

          &:hover {
            background: rgba($color: $accent_color, $alpha: 1.0);
          }
        }
      }
    }
  }

  button#add_task {
    position: absolute;
    z-index: 3;
    font-size: 64px;
    font-weight: 700;
    padding: 2px;
    border: 10px solid $background_color;
    border-radius: 50%;
    background: $accent_color;
    color: $white;
    height: 100px;
    width: 100px;
    top: -70%;
    right: 2.5%;
    transition: 200ms ease-in;

    &:hover {
      cursor: pointer;
    }
  }
}

footer.focus_out {
  height: 20px;
  transition: 200ms ease-in;
  margin-top: 42px;

  section.search,
  section.task_edit_view,
  button#add_task,
  button#search_task {
    display: none;
  }
}

@keyframes tab_expand {
  from {
    opacity: 10%;
    height: 0px;
  }

  to {
    opacity: 100%;
    height: auto;
  }
}

@keyframes ninty_deg_rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes blob_out {
  from {
    z-index: 1;
    opacity: 100%;
    transition: 180ms ease-in;
  }

  to {
    z-index: -1;
    opacity: 0%;
    transition: 180ms ease-out;
  }
}